:root {
  --background-color-dark-1: #1a1a1a;
  --background-color-dark-2: #2b2b2b;
  --background-color-medium-1: #3b3b3b;
  --background-color-medium-2: #4c4c4c;
  --background-color-light-1: #d0d0d0;
  --background-color-light-2: #e0e0e0;
  --box-shadow-color: rgba(0, 0, 0, 0.5);

  /* Text Colors */
  --text-color-dark: #000000;
  --text-color-light: #ffffff;
  --text-color-dark-1: #1a1a1a;
  --text-color-dark-2: #333333;
  --text-color-dark-3: #4d4d4d;
  --text-color-dark-4: #666666;
  --text-color-light-1: #e6e6e6;
  --text-color-light-2: #cccccc;
  --text-color-light-3: #b3b3b3;
  --text-color-light-4: #999999;

  /* Border colors */
  --border-color-primary: #007bff;
  --border-color-secondary: #6c757d;
  --border-color-success: #28a745;
  --border-color-danger: #dc3545;
  --border-color-warning: #ffc107;
  --border-color-info: #17a2b8;
  --border-color-dark: #000000;
  --border-color-light: #ffffff;
  --border-color-dark-1: #1a1a1a;
  --border-color-dark-2: #333333;
  --border-color-dark-3: #4d4d4d;
  --border-color-dark-4: #666666;
  --border-color-light-1: #e6e6e6;
  --border-color-light-2: #cccccc;
  --border-color-light-3: #b3b3b3;
  --border-color-light-4: #999999;

  /* Font Size Variables */
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-large: 16px;
  --font-size-xlarge: 18px;
  --font-size-xxlarge: 20px;
  --font-size-heading: 24px;
  --font-size-title: 28px;

  /* drag spacing */
  --drag-spacing-top-bottom: 00%;
  --drag-spacing-left-right: 10%;

  /* sidebar dimensions */
  --sidebar-width: 240px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color-dark-2);
  color: var(--background-color-light-2);
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

header {
  background-color: var(--background-color-medium-1);
  color: var(--background-color-light-2);
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 2px -2px var(--box-shadow-color);
  width: 100%;
  z-index: 1000;
  position: relative; /* Change from fixed to relative */
  flex: 0 0 auto; /* Ensure header does not shrink or grow */
}

main {
  margin-left: var(--sidebar-width); /* Sidebar width */
  flex-grow: 1;
  z-index: 1;
  position: relative;
  overflow: auto; /* Allow scrolling if content overflows */
  background-color: var(--background-color-dark-2);
  width: calc(
    100% - var(--sidebar-width)
  ); /* Adjust width to account for sidebar */
  height: calc(100vh - 80px); /* Adjust height to account for header */
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: var(--font-size-xxlarge);
}

.sidebar {
  width: var(--sidebar-width);
  background-color: var(--background-color-dark-1);
  padding-top: 60px;
  box-shadow: 2px 0 5px var(--box-shadow-color);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-x: hidden;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 10px 0;
  text-align: left;
}

.sidebar ul li a {
  display: inline-block;
  padding: 4px 8px;
  width: 100%;
  background-color: var(--background-color-medium-2);
  color: var(--background-color-light-2);
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: var(--font-size-medium);
}

.sidebar ul li a:hover {
  background-color: var(--background-color-medium-1);
}
.expand-left,
.expand-right,
.expand-top,
.expand-bottom,
.expand-center {
  position: absolute;
  opacity: 0.5; /* Make them semi-transparent for visibility */
}

.expand-left {
  background-color: red;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--drag-spacing-left-right);
}

.expand-right {
  background-color: blue;
  top: 0;
  bottom: 0;
  right: 0;
  width: var(--drag-spacing-left-right);
}

.expand-top {
  background-color: green;
  top: 0;
  left: var(--drag-spacing-left-right);
  right: var(--drag-spacing-left-right);
  height: var(--drag-spacing-top-bottom);
}

.expand-bottom {
  background-color: yellow;
  bottom: 0;
  left: var(--drag-spacing-left-right);
  right: var(--drag-spacing-left-right);
  height: var(--drag-spacing-top-bottom);
}

.expand-center {
  background-color: purple;
  top: var(--drag-spacing-top-bottom);
  bottom: var(--drag-spacing-top-bottom);
  left: var(--drag-spacing-left-right);
  right: var(--drag-spacing-left-right);
}

.window {
  width: 300px;
  height: 200px;
  border: 2px solid var(--background-color-medium-2);
  position: absolute;
  top: 50px;
  left: 50px;
  box-shadow: 0 0 15px var(--box-shadow-color);
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--background-color-medium-1);
  z-index: 10;

  /* for troubleshooting window intersection events */
  opacity: 0.7;
}

.window-header {
  background-color: var(--background-color-medium-2);
  color: var(--background-color-light-2);
  padding: 4px;
  cursor: move;
  /* font-weight: bold; */
  /* border-bottom: 1px solid var(--background-color-medium-1); */
}

.window-content {
  padding: 10px;
  /* background-color: var(--background-color-dark-2); */
  color: var(--background-color-light-1);
  height: calc(100% - 40px);
  overflow: auto;
  box-sizing: border-box;
}

.resize-handle {
  width: 15px;
  height: 15px;
  background-color: var(--background-color-medium-2);
  position: absolute;
  right: 5px;
  bottom: 5px;
  cursor: se-resize;
  border-radius: 3px;
}
.maximize-button {
  background-color: var(--background-color-medium-2);
  border: none;
  color: var(--background-color-light-2);
  cursor: pointer;
  position: absolute;
  right: 25px; /* Adjust position to make room for close button */
  top: 5px;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  background-color: var(--background-color-medium-2);
  border: none;
  color: var(--background-color-light-2);
  cursor: pointer;
  float: right;
  font-size: 12px;
  padding: 0%;
  /* rounded corners */
  border-radius: 0px 0px 0px 4px;
  background-color: var(--background-color-medium-1);
  margin-left: 5px; /* Add margin to separate from maximize button */
}

.close-button:hover {
  background-color: var(--background-color-medium-1);
}

.window-tabs {
  display: flex; /* Use flexbox for layout */
  flex-direction: row; /* Arrange children in a row */
  background-color: var(--background-color-dark-2);
  padding: 0px;
}
.window-tab {
  color: var(--text-color-light-1);
  background-color: var(--background-color-dark-1);
  font-weight: normal;
  text-align: left;
  padding: 4px;
  font-size: var(--font-size-small);
  width: fit-content;
  border-top: 1px solid var(--border-color-dark-1);
  border-right: 1px solid var(--border-color-light-4);
  border-radius: 0px 0px 0px 1px;
}

.window-tab:active,
.window-tab.selected {
  border-top: 1px solid var(--border-color-primary);
  background-color: var(--background-color-medium-1);
}

.window-tab:not(.selected):hover {
  border-top: 1px solid var(--border-color-info);
  background-color: var(--background-color-dark-2);
}

/* mui */
/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
